* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    vertical-align: center;
}

a {
    text-decoration: none;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    background-color: #f5f5f5;
}